/* the styles for the elements*/

@font-face {
  font-family: "opendyslexic3bold";
  src: url("fonts/opendyslexic3-bold-webfont.woff2") format("woff2"),
    url("fonts/opendyslexic3-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opendyslexic3regular";
  src: url("fonts/opendyslexic3-regular-webfont.woff2") format("woff2"),
    url("fonts/opendyslexic3-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "opendyslexic3regular";
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}
body {
  color: #0b73b9;
  font: normal 100%;
  font-family: "opendyslexic"; /*Verdana, Tahoma, sans-serif*/
  width: 98%;
  max-width: 960px;
  margin: 0.5% auto;
  border: 3px solid #603791;
  background-color: #ffffe6;
  box-shadow: 5px 5px;
  border-radius: 10px;
  line-height: 1.4em;
}
p {
  word-spacing: 0.75em;
  line-height: 1.7em;
  margin-bottom: 1em;
}

/* the styles for the header*/
header {
  padding: 1em 0 1.5em 1.5em;
  width: 100%;
  border-bottom: 3px solid #603791;
  background-image: linear-gradient(#6699cc, #ffffff);
  box-sizing: border-box;
}
header h1 {
  font-size: 175%;
  color: #000000;
}
header h2 {
  font-size: 150%;
  color: #2b5781;
}
header h3 {
  font-size: 130%;
  font-style: italic;
}
header img {
  float: left;
  max-width: 83px;
  min-width: 60px;
  height: auto;
  padding: 0 3.5%;
}
.shadow {
  text-shadow: 2px 2px 2px #929292;
}

/* the styles for the navigation menu */
#nav_menu ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  background-color: #6699cc;
  list-style-type: none;
  margin: 0;
}
#nav_menu li {
  flex-basis: 25%;
  text-align: center;
  text-decoration: none;
  background-color: #8657bf;
  color: #ffffff;
  font-weight: bold;
  border-left: 1px solid #603791;
  border-right: 1px solid #603791;
  border-bottom: 1px solid #603791;
}
#nav_menu ul li a:link {
  color: #cccccc;
  text-decoration: none;
}
#nav_menu ul li a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}
#nav_menu a.current {
  display: block;
  background-color: #603791;
  color: #ffffcc;
  padding: 0.75em;
}

/* the styles for the other top navigation boxes*/
#nav_menu .top_box {
  display: block;
  text-decoration: none;
  background-color: #8657bf;
  color: #ffffff;
  font-weight: bold;
  padding: 0.75em;
}
#nav_menu .top_box:link {
  background: #8657bf;
}
#nav_menu .top_box:hover,
#nav_menu .top_box:focus {
  background: #366da7;
  color: #ffffff;
}

/* the styles for the main content */
main {
  display: flex;
  flex-direction: column;
  padding: 1.5% 2% 1.5% 5%;
  margin: 0;
  box-sizing: border-box;
}
main h1 {
  color: #000000;
  font-size: 150%;
  padding: 0.5em 0 0.5em 0;
}
main h2 {
  color: #603791;
  font-size: 130%;
  padding: 0.5em 0 0.5em 0;
}
main h2:first-child::first-letter {
  font-size: 150%;
}
main h3 {
  font-size: 105%;
  color: #603791;
  padding-bottom: 0.25em;
}
main img {
  padding-bottom: 1em;
}
main p {
  padding-bottom: 0.5em;
}
main blockquote {
  padding: 0.5em 2em;
  font-style: italic;
}
main ul {
  padding: 0 0 0.25em 1.25em;
}
main li {
  padding-bottom: 0.35em;
}

/* the styles for the section */
section {
  flex-basis: 95%;
  padding: 0;
  margin: 2% 1.5% 1.5% 1.5%;
  box-sizing: border-box;
  /* border-bottom: 1px solid #000000;*/
}
section h2 {
  color: #603791;
  font-size: 130%;
  padding: 0 0 1em 0;
  font-weight: 900;
}
section h2:first-letter {
  font: bold 150%;
}
.top_container {
  display: flex;
}

.box1 {
  flex: 2;
  order: 1;
  padding: 2% 3% 0 5%;
  border-left: 2px solid #6699cc;
  box-sizing: border-box;
}
.box2 {
  display: flex;
  flex: 1;
  order: 2;
  justify-content: center;
  align-items: center;
}

/*the styles for the article */
article {
  margin: 1% 3% 2% 6.5%;
  border-top: 1px solid #000000;
}
article h3 {
  padding: 1.5em 0 1em 0;
  font-weight: 900;
}
blockquote {
  font-weight: bold;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 }
.theme_button1 {
  display: flex;
  order: 1;
  padding: 0 2%;
}
.theme_button2 {
  display: flex;
  order: 2;
  padding: 0 2%;
}
.theme_button3 {
  display: flex;
  order: 3;
  padding: 0 2%;
}

/*the styles for the footer */
body footer {
  width: 100%;
  background-color: #6699cc;
  color: #ffffff;
}
footer p {
  text-align: center;
  color: #ffffff;
  font-size: 75%;
  padding: 1em 0;
  margin-bottom: 0em;
  border-top: 3px solid #603791;
}

/* hide the mobile menu initially */
#mobile_menu {
  display: none;
}

/* the styles for the media queries */
@media only screen and (max-width: 959px) {
  section h1 {
    font-size: 135%;
  }
  section h2,
  aside h2 {
    font-size: 120%;
  }
}

@media only screen and (max-width: 767px) {
  header {
    float: none;
    justify-content: center;
  }
  header img {
    max-width: 17%;
    height: auto;
  }
  main {
    flex-direction: column;
  }
  #nav_menu {
    display: none;
  }
  #mobile_menu {
    display: block;
  }
  .slicknav_menu {
    background-color: #8657bf !important;
  }
  section {
    width: 95%;
  }
  .top_container {
    display: flex;
    flex-direction: column;
    border: 0;
  }
  .box1 {
    order: 1;
    border-left: 0;
  }
  .box2 {
    order: 2;
    align-items: flex-start;
    padding-top: 1%;
  }
  article picture {
    max-width: 50%;
    height: auto;
    order: 3;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 85%;
  }
  header h1 {
    font-size: 125%;
  }
  header h2 {
    font-size: 115%;
  }
}
