/* the styles for the elements*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}
body {
  color: #000000;

  font: normal 100% Verdana, Tahoma, sans-serif;
  width: 98%;
  max-width: 960px;
  margin: 0.5% auto;
  border: 3px solid #603791;
  background-color: #ffffe6;
  box-shadow: 5px 5px;
  border-radius: 10px;
  line-height: 1.4em;
}

/* the styles for the header*/
header {
  padding: 1em 0 1.5em 0;
  width: 100%;
  border-bottom: 3px solid #603791;
  background-image: linear-gradient(#6699cc, #ffffff);
}
header h1 {
  font-size: 175%;
  color: #000000;
}

header h2 {
  font-size: 150%;
  color: #2b5781;
}

header h3 {
  font-size: 130%;
  font-style: italic;
}
header img {
  float: left;
  max-width: 83px;
  min-width: 40px;
  height: auto;
  padding: 0 3%;
}
.shadow {
  text-shadow: 2px 2px 2px #929292;
}

/* the styles for the navigation menu */
#nav_menu ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav_menu ul li {
  flex-basis: 25%;
}
#nav_menu ul li a {
  text-align: center;
  padding: 1em 0em;
  text-decoration: none;
  background-color: #8657bf;
  color: #ffffff;
  font-weight: bold;
}
#nav_menu ul li a:link {
  color: #cccccc;
  text-decoration: none;
}
#nav_menu ul li a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

#nav_menu a.current {
  background-color: #603791;
  color: #ffffcc;
}
/* the styles for the top navigation boxes*/
#nav_menu .top_box {
  flex-basis: 25%; /* 100% divided by 4 */
  text-align: center;
  padding: 1em 0em;
  text-decoration: none;
  background-color: #8657bf;
  color: #ffffff;
  font-weight: bold;
}
#nav_menu .top_box:link {
  background: #8657bf;
}
#nav_menu .top_box:hover,
#nav_menu .top_box:focus {
  background: #366da7;
  color: #ffffff;
}

/* the styles for the main content */
main {
  padding: 1% 2%;
  display: flex;
}

main h1 {
  font-size: 150%;
  margin-bottom: 0.75em;
  border-radius: 0px;
  box-shadow: 5px 5px;
  padding: 0.5em;
  background-color: white;
}
main h2 {
  color: #603791;
  font-size: 130%;
  padding: 0.5em 0 0.5em 0;
}
main h2:first-child::first-letter {
  font-size: 150%;
}
main h3 {
  font-size: 105%;
  color: #000000;
  padding-bottom: 0.25em;
}
main img {
  padding-bottom: 1em;
}
main p {
  padding-bottom: 0.5em;
}
main blockquote {
  padding: 0.5em 2em;
  font-style: italic;
}
main ul {
  padding: 0 0 0.25em 1.25em;
}
main li {
  padding-bottom: 0.35em;
}

/* the styles for the section */
section {
  flex-basis: 76%;
  order: 1;
  padding: 0.5em 1em;
  margin: 1em 0;
  border-left: 2px solid #6699cc;
  box-sizing: border-box;
}
section h3 {
  font-size: 105%;
  color: #000000;
  padding-bottom: 0.25em;
}
section img {
  float: left;
  padding: 0;
  margin: 1em;
  border: 1px solid #000000;
}
/* to center an image */
/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}*/

/* the styles for the article */
article {
  padding: 0em 0em 0.5em 0em;
  border-bottom: 1px solid #000000;
  margin: 0 0 1em 0;
}
article img {
  border: 1px solid #000000;
}
article figure {
  float: right;
  padding: 0.5em 0 1em 1em;
}
article figcaption {
  display: block;
  font-weight: bold;
  padding-top: 0.5em;
  border-bottom: 1px solid #000000;
}
article h2 {
  color: #603791;
  font-size: 130%;
  padding: 0.5em 0 0.5em 0;
}
article h2:first-letter {
  font: bold 150% Verdana, Tahoma, sans-serif;
}

/* the styles for the aside */
aside {
  flex-basis: 24%;
  order: 2;
  padding: 0em 0.5em 0em 0em;
  margin: 2.2em 0;
  box-sizing: border-box;
}
aside ul {
  list-style-type: none;
}
aside ul li {
  padding: 0em;
  font-size: 80%;
  width: 98%;
}

/* the styles for the left side navigation */
#nav_dropdown ul {
  flex-basis: 24%;
  list-style-type: none;
  padding: 0;
}
#nav_dropdown ul li a {
  display: flex;
  text-align: center;
  padding: 1em 0em;
  text-decoration: none;
  background-color: #cccccc;
  color: #000000;
  font: normal Verdana, Tahoma, sans-serif;
}
#nav_dropdown a.current {
  background-color: #a7a7a7;
  color: #ffffcc;
}

/* the styles for the sidebar boxes*/
#nav_dropdown .side_box {
  background: #cccccc;
  color: #ffffff;
  width: 20%; /* replaced 180px*/
  border: 1px solid #a7a7a7;
  text-align: left;
  padding: 6%;
  margin: 0.5em;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#nav_dropdown .side_box:link {
  background: #cccccc;
}
#nav_dropdown .side_box:hover,
#nav_dropdown .side_box:focus {
  background: #366da7;
  color: #000000;
}

/* the styles for the footer */
body footer {
  flex-basis: 100%;
  background-color: #6699cc;
  color: #ffffff;
}
footer p {
  text-align: center;
  color: #ffffff;
  font-size: 75%;
  padding: 1em 0;
  margin-bottom: 0em;
  border-top: 3px solid #603791;
}

/* hide the mobile menu initially */
#mobile_menu {
  display: none;
}

/* the styles for the media queries */
@media only screen and (max-width: 959px) {
  section h1 {
    font-size: 135%;
  }
  section h2, aside h2 {
    font-size: 120%;
  }
}
@media only screen and (max-width: 767px) {
  header {
    text-align: center;
  }
  header img {
    float: none;
  }
  main {
    flex-direction: column;
  }
  section {
    width: 95%;
    float: none;
  }
  aside {
    width: 95%;
    float: none;
    padding-right: 2.5%;
  }
  article img {
    max-width: 30%;
  }
  #nav_menu {
    display: none;
  }
  #mobile_menu {
    display: block;
  }
  .slicknav_menu {
    background-color: #8657bf !important;
  }
}

@media only screen and (max-width: 479px) {
  #nav_menu {
    display: none;
  }
  #mobile_menu {
    display: block;
  }
  .slicknav_menu {
    background-color: #facd8a !important;
  }
  body {
    flex-basis: 100%;
    font-size: 90%;
    margin: 0;
    border: none;
  }

  footer p {
    text-align: center;
  }
  footer p {
    margin-right: 0;
  }
  header h2 {
    margin: 0.4em 0 0.25em 0;
  }
  header h3 {
    margin-left: 0;
  }
  header img {
    float: none;
  }
}
